:root {
  --game-table-cell-padding: 10px;
  --game-table-cell-margin: 1px;
  --game-table-points-cell-width: 100px;
  --game-table-current-cell-width: 100px;
}

@page {
	size: auto;   /* auto is the initial value */
	margin: 0mm;  /* this affects the margin in the printer settings */
}

body {
	background-color:#FFFFFF; 
	/* border: solid 1px black ; */
	margin: 0px;  /* this affects the margin on the content before sending to printer */
	font-family: Verdana, Geneva, sans-serif;
}

button {
	cursor: pointer;
}

#my-canvas {
	display: none;
}

#start-form {
	width: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 24px;
}

#start-form-title {
	margin-top: 50px;
	font-weight: bold;
	text-align: center;
}

#start-form-points-table {
	display: table;
	width: 100%;
	margin-top: 20px;
}

#start-form-players {
	margin-top: 20px;
}

#start-form-players-table {
	display: table;
	width: 100%;
	margin-top: 10px;
	border-collapse: separate;
	border-spacing: 0px 10px;
}

.start-form-player-name {
	width: 100%;
}

#start-form-add-player {
	margin-top: 20px;
}

#start-form-start-game {
	margin-top: 40px;
	float: right;
}

#div-table-row {
	display: table-row;
	width: auto;
	clear: both;
	padding: 10px;
}

#div-table-left-col {
	float: left;
	display: table-column;
	width: 400px;
}

#div-table-right-col {
	float: right;
	display: table-column;
}

select {
	font-size: 24px;
}

input {
	font-size: 24px;
}

button {
	font-size: 24px;
}

#game-data {
	display: none;
	position: fixed;
	margin: 20px;
	top: 0px;
	right: 0px;
	overflow: auto;
}

#game-stats {
	float: left;
}

#game-table {
	float: left;
}

#game-table-header {
}

#game-table-content {
	overflow: auto;
}

#help-button {
	position: fixed;
	top: 0px;
	left: 0px;
	margin-left: 20px;
	margin-top: 20px;
}

#lang-select {
	position: fixed;
	top: 1px;
	left: 36px;
	margin-left: 20px;
	margin-top: 20px;
}

#count-button {
	display: none;
	position: fixed;
	bottom: 0px;
	left: 0px;
	margin-left: 20px;
	margin-bottom: 20px;
}

#game-table-column {
	float: left;
}

#game-table-first-cell {
	width: var(--game-table-current-cell-width);
	background: #F0F0F0;
	margin: var(--game-table-cell-margin);
	padding: var(--game-table-cell-padding);
}

#game-table-cell {
	width: var(--game-table-current-cell-width);
	background: #F0F0F0;
	margin: var(--game-table-cell-margin);
	padding: var(--game-table-cell-padding);
	cursor: pointer;
}

#game-table-cell-bold {
	width: var(--game-table-current-cell-width);
	background: #E0E0E0;
	margin: var(--game-table-cell-margin);
	padding: var(--game-table-cell-padding);
	font-weight: bold;
}

#game-table-points-cell {
	width: var(--game-table-points-cell-width);
	background: #FFE0E0;
	margin: var(--game-table-cell-margin);
	padding: var(--game-table-cell-padding);
}

#game-table-points-cell-bold {
	width: var(--game-table-points-cell-width);
	background: #FFD0D0;
	margin: var(--game-table-cell-margin);
	padding: var(--game-table-cell-padding);
	font-weight: bold;
}

#game-table-yellow-cell {
	width: var(--game-table-current-cell-width);
	background: #FFFFB0;
	margin: var(--game-table-cell-margin);
	padding: var(--game-table-cell-padding);
	font-weight: bold;
}

#game-table-win-cell {
	width: var(--game-table-current-cell-width);
	background: #B0FFB0;
	margin: var(--game-table-cell-margin);
	padding: var(--game-table-cell-padding);
	font-weight: bold;
	cursor: pointer;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding: 2vh 2vw 2vh 2vw; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
 /* margin: 1%;*/
  padding: 2vh 2vw 2vh 2vw;
  /*border: 1px solid #888;*/
  width: 92vw;
  height: 90vh;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#modal-window-canvas {
	margin: auto;
	display: block;
}